$brand-color:         #6FF9E7;
$highlight:           lighten($brand-color, 35%);
$text-color:          #000000;
$muted-text-color:    #e12729;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;