$brand-color:         #00C6E0;
$highlight:           lighten($brand-color, 35%);
$text-color:          #13294B;
$muted-text-color:    #E01A00;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;