---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      <a href="{{site.baseurl}}/schedule/toc" class="plain-link">Table of Contents</a>
    {% endif %}
  </h1>

<h2>Front Matter</h2>
  
<ul class="post-list">
		<li><a href="{{site.baseurl}}/pages/00-toc" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Table of Contents</h1>
	    </div>
			<span class="post-link__date">
				Schedule Overview
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/pages/syllabus" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Preface</h1>
	    </div>
			<span class="post-link__date">
				Syllabus
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/pages/assessment" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Foreword</h1>
	    </div>
			<span class="post-link__date">
				Assessment
	    </span>
	  </a></li>
	  	</ul>
  
  <h2>Chapters</h2>
  
    <ul class="post-list">
		<li><a href="{{site.baseurl}}/schedule/01-media" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 1: Media</h1>
	    </div>
			<span class="post-link__date">
				January 23
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/02-page" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 2: Page</h1>
	    </div>
			<span class="post-link__date">
				January 26 & 30
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/03-book/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 3: Book</h1>
	    </div>
			<span class="post-link__date">
				February 2 & 6
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/04-print/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 4: Print</h1>
	    </div>
			<span class="post-link__date">
				February 9 & 13
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/05-information/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 5: Information</h1>
	    </div>
			<span class="post-link__date">
				February 16 & 20
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/06-remediation/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 6: Remediation</h1>
	    </div>
			<span class="post-link__date">
				February 23 & 27
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/07-experiment/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 7: Experiment</h1>
	    </div>
			<span class="post-link__date">
				March 2 & 6
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/08-interactive/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 8: Interactive</h1>
	    </div>
			<span class="post-link__date">
				March 9 & 13
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/09-bookishness/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 9: Bookishness</h1>
	    </div>
			<span class="post-link__date">
				March 23 & 27
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/10-data/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 10: Data</h1>
	    </div>
			<span class="post-link__date">
				March 30 & April 3
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/11-memory/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 11: Memory</h1>
	    </div>
			<span class="post-link__date">
				April 6 & 10
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/12-interlude/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 12: Interlude</h1>
	    </div>
			<span class="post-link__date">
				April 13 & 17
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/13-making/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Chapter 13: Making</h1>
	    </div>
			<span class="post-link__date">
				April 20 & 24
	    </span>
	  </a></li>
		<li><a href="{{site.baseurl}}/schedule/14-conclusion/" class="post-link">
			<div class="post-link__heading">
				<h1 class="post-link__title">Conclusion</h1>
	    </div>
			<span class="post-link__date">
				April 27, May 1 & 4
	    </span>
	  </a></li>
	</ul>
</main>